/*responsive css*/
@media only screen and (max-width: 576px) {

  .carousel {
    margin-top: 100px;
  }

  .carousel-caption-custom {
    position: absolute;
    top: -8px;
  }

  .carousel-caption-custom .cs-title {
    font-size: 14px;
  }

  .carousel-caption-custom .cs-des {
    width: 100%;
    font-size: 8px;
    padding: 0 0;
  }

  .carousel-caption-custom .cs-btn {
    padding: 5px 10px;
    font-size: 7px;
  }

  .ar-custom {
    flex-direction: column-reverse;
  }

  .rf-title {
    padding: 40px 0;
  }
}


@media only screen and (max-width: 778px) and (min-width: 576px) {
  .b-title {
    font-size: 22px;
  }

  .banner-des {
    font-size: 10px;
  }

  .btn {
    font-size: 10px;
  }

  .carousel {
    margin-top: 100px;
  }

  .cs-title {
    font-size: 20px;

  }

  .cs-des {
    font-size: 14px;
  }

  .cs-btn {
    font-size: 10px;
  }
}

@media only screen and (min-width: 779px) and (max-width: 1200px) {
  .carousel-caption-custom .cs-title {
    font-size: 45px;
  }
}